@CHARSET "UTF-8";
/* 최상단 header */
#header_main {
	background-color: black;
	margin: 0;
	padding: 0;
}
#brand {
	margin-left: 7px;
	margin-top: 3px;
	color: #FFDA00;

}
#search_form {
	margin-top: 6px;
}
#search_btn {
	
	border: none;
	border-right: 2px solid #BFBCBC;
	background-color: #535353;
	color: white;
}
#search_txt {
	border-style: none;
	background-color: #535353;
	color:white;

}
#loginbtn, #joinbtn, #navbtn, #logout{
	margin-top: 7px;
	font-size: 16px;
	color: white;
	font-weight: 600;
}
#navtag {
	margin-top:2px;
	/* border-top: 1px solid #bfbcbc; */
}
#navtag_lb {
	margin-left: 135px;
	width: 500px;
	margin-top:5px;
	color: white;
}

.navTags{
	margin-bottom: 5px;	
	padding-right: 0px;
	text-align: left;
}

#nav1 {
	
	float: right;
	position: fixed;
}
/* main */

	#menu {
	margin-top: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	float: right;
	overflow: auto;
	background-color: white;
	z-index:5;
	}


.recommenTag{
	margin-left: 5px;
	text-decoration: none;
	color:white;
}

.recommenTag:hover{
	color:#FFDA00;	
	font-weight: bold;
}

#navTagTitle{
	font-weight: bold;
	margin-left: -15px;
}

/* main */


	#nv1 {
		padding:0;
		margin-left: 1px;
	}
	#nv1 > button {
		height: 50px;
		font-size: 16px;
		font-weight: 500;
		background-color: tomato;
		color: white;
	}
#profile_img { display: block;}
#profile_img, #nav1 {
	margin-top: 5px;
	text-align: center;
}
#mypageTable td {
	text-indent: 10px;
	font-size: 16px;
}
/* #myProfileImage {
	border: 5px solid #535353;
	border-radius: 20px;
} */
.recommenTag{
	margin-left: 5px;
	text-decoration: none;
	color:white;
}

.recommenTag:hover{
	color:#FFDA00;	
	font-weight: bold;
}

#navTagTitle{
	font-weight: bold;
	margin-left: -15px;
}

/*myPage*/
#profile_nametag { padding: 0;}
.main-padding-mypage {
	padding: 0;
	padding-right: 5px;
	margin: 0;
}
.mypage-td {
	width: 120px;
}
#myPageWrap{
	position:absolute;
	z-index: 8;
}
.radius-table {
	border-radius: 20px; 
}
#menu {
	margin-top: 10px;
	border: 10px solid #535353;
	border-radius: 6px;
	float: right;
	overflow: auto;
	overflow-x:hidden;
	background-color: white;
	z-index:5;
}

#profile_line{
	margin-top: 25px;
	margin-bottom: 10px;
}

#userNick{
	font-size: 16px;
	font-weight: bold;
	color: black;	
}

#userMemo{
	color: #666666;	
}

#userInDate{
	color: #666666;
	font-size: 13px;
}

#nv1{
	text-align: center;
}

.myPageBtn{
	background-color: #FE9A2E;
	font-size: 13px;
	color: white;
	border-style: none;
}

.myPageBtn:hover, .myPageBtn:active, .myPageBtn:visited{
	background-color: #FF8000;
	font-weight: bold;
	color:white;
}

/*내가 최근 본 리스트*/

	#recentlyTitle{
		margin-top:20px;
		font-size: 20px;
		font-weight: bold;
		margin-left: 5px;
	}

	.recentlyViewedWrap{
		
		padding-top:5px;
		width:100%;
		height: 80px;
	}

	.recentlyListTitle{
		font-size: 15px;
	}
	
	.recentlyListDetailTitle{
		text-align: inherit;
	}
	
	.recentlyClose{
		margin-top:-5px;
		float:right;
	}

	.recentlyGood{
		float:left;
		margin-right: 30px;
	}

	.recentlyCount{
		float:left;
	}

	.recentlyLine{
		border-bottom: 1px solid #BFBCBC;
	}

/*내가 자주 본 리스트*/

	#mostTitle{
		margin-top:20px;
		font-size: 20px;
		font-weight: bold;
		margin-left: 5px;
	}

	.mostViewedWrap{
		
		padding-top:5px;
		width:100%;
		height: 80px;
	}

	.mostListTitle{
		font-size: 15px;
	}
	
	.mostListDetailTitle{
		text-align: inherit;
	}
	
	.mostClose{
		margin-top:-5px;
		float:right;
	}

	.mostGood{
		float:left;
		margin-right: 30px;
	}

	.mostCount{
		float:left;
	}

	.mostLine{
		border-bottom: 1px solid #BFBCBC;
	}

	.myPageBlankLine{
		height: 15px;
	}

::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: url('./images/bg.png') #efefef}
::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}			 
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}
