@CHARSET "UTF-8";

body {
	background-color: #F3F3F3;
}

#bestTitle {
	font-size: 20px;
	font-weight: bold;
}

#bestWrap {
	margin-top: 10px;
}

.bestListWrap {
	border: 1px solid #BFBCBC;
	border-radius: 6px;
	background-color: white;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
	margin-bottom: 20px;
}

.bestListHeader {
	height: 40px;
	font-size: 17px;
	font-weight: bold;
	vertical-align: middle;
	line-height: 50px;
	overflow: hidden;
}

.bestListHeader a {
	color: black;
	text-decoration: none;
}

.bestListMedia {
	margin-top: 8px;
	height: 150px;
}

.bestListHeaderLine {
	border-bottom: 1px solid #BFBCBC;
}

.bestMediaIframe {
	position: absolute;
	z-index: 7;
	margin-left: -15px;
	width: 100%;
}

.bestListContent {
	height: 80px;
	margin-top: 10px;
	font-size: 14px;
}

.bestMediaImg {
	position: absolute;
	width: 100%;
	height: 150px;
	z-index: 6;
	margin-left: -15px;
}

.bestListTags{
			margin-top:5px;
			height: 50px;
			color: #BFBCBC;
			font-size:13px;
			margin-bottom: 6px;
			overflow: hidden;
			font-style: italic;
			font-weight: bold;
			word-break: break-all;
}

.mainTags{
	display:inline-block;
}

.bestListTags a {
	text-decoration: none;
	color: #BFBCBC;
}

.bestListTags a:hover {
	color: black;
	text-decoration: underline;
}

.bestListDate {
	color: #666666;
	font-size: 13px;
}

.bestFooterContent {
	color: #666666;
	font-size: 15px;
	margin: 0px auto;
	margin-top: 5px;
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.reactionspan {
	font-weight: bold;
	margin-right: 10px;
}

.bestFooterContentImg img {
	margin-top: 5px;
}

.reImg {
	float: left;
	vertical-align: middle;
	margin-left: -15px;
}

.reImg img {
	min-width: 25px;
	margin-left: -15px;
	float: left;
}

.reIn {
	margin-left: -15px;
}

.vImg {
	float: left;
	margin-left: -15px;
}

.vImg img {
	min-width: 22px;
	float: left;
	margin-left: -10px;
}

.vIn {
	float: left;
	margin-left: 10px;
}

.cImg {
	vertical-align: middle;
	margin-left: 20px;
}

.cImg img {
	min-width: 25px;
	margin-left: -15px;
	float: left;
}

.cIn {
	margin-left: -15px;
	float: left;
	margin-left: 10px;
}

#bestTitle {
	font-size: 32px;
	font-weight: bold;
	margin-left: -15px;
	margin-top: 20px;
}

/* 		#bestLastLine{
			margin-top: 35px;
			margin-bottom: 35px;
			border-bottom: 2px solid #BFBCBC;
		} */
.bestListWriter {
	float: right;
	font-size: 12px;
}

#listTitle {
	font-size: 32px;
	font-weight: bold;
	margin-top: 20px;
}

.bestTitleLine {
	border-bottom: 1px solid #BFBCBC;
	margin-bottom: 20px;
}

/* login css */
.login_dialog_body {
	margin-top: 200px;
}

#lg_content {
	margin: 0 auto;
	width: 500px;
	border-radius: 6px;
	border: 10px solid #535353;
}

#lg_mdb {
	height: 270px;
}

#lg_mdb label, #lg_findId label, #lg_findPass label {
	margin-top: 5px;
}

#fi, #fp {
	height: 10px;
}

#lg_btn {
	margin-top: 25px;
}

#lg_findId, #lg_findPass {
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
}

#lg_findId {
	height: 235px;
	border: 10px solid #535353;
}

#lg_findPass {
	height: 170px;
	border: 10px solid #535353;
}

#lg_findId .btn, #lg_findPass .btn {
	background-color: tomato;
	margin-top: 15px;
}
.login-btn-top { color: white; }
.login-a-left { float: right; }

