@CHARSET "UTF-8";
.btn-circle-go {
		width: 30px;
		height: 30px;
		border-radius: 100%;
		position: absolute; 
		z-index: 100;
		border: 4px solid black;
		margin-left: 20px;
		opacity: 0.6;

	}
	.btn-circle-go:hover { background-color: white; cursor: pointer; }
	.list-top-margine1 { margin-top: 340px;}
	.list-top-margine2 { margin-top: 380px;}
	.list-top-margine3 { margin-top: 420px;}
	.list-top-margine4 { margin-top: 460px;}
	.t-styles { text-align:center; font-size: 18px; font-weight: 600;}